.footer {
      margin-top: 100px;
      background: black;
      border-top: 2px solid red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: white;
      padding: 20px;
      h2,
      p,
      a {
            font-size: calc(13px + 0.5vh);
            margin: 5px;
      }

      a {
            color: gold;
            text-decoration: none;
            border: 1px gold solid;
            padding: 10px;
            transition: all 0.3s linear;
            &:hover {
                  transform: rotateY(30deg);
            }
      }

      h2 {
            span {
                  color: gold;
            }
      }
}