.header {
      position: relative;
      z-index: 100;
      .navbar {
            background: rgba(0, 0, 0, 0.692);
            z-index: 100;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 10px;
      border-bottom: 2px red solid ;
            .logo {
                  a {
                        text-decoration: none;
                        font-size: 30px;
                        font-weight: bold;
                        color: red;
                        text-shadow: 3px 3px 3px rgb(255, 255, 255);
                  }
            }
            .random {
                  img {
                        max-width: 30px;
                        animation: roll 0.5s ease-in;
                  }
            }
      }
}

@keyframes roll {
      100% {
            transform: rotate(360deg);
      }
}